body {
  padding: 0;
  margin: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 1);
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
}

.container {
  position: relative;
  display: flex;
  border: solid 0.3px rgb(216, 207, 207);
  margin: 20px;
  overflow: auto;
  height: 95vh;
  opacity: 1;
  overflow: hidden;
}

.switch {
  position: absolute;
  top: 0px;
  right: 9px;
}

.static {
  position: absolute;
  background-image: url("assets/static.png");
  inset: -200%;
  opacity: 20%;
  flex-grow: 1;
  z-index: -1;
}

.animated {
  position: absolute;
  background-image: url("assets/static.png");
  inset: -200%;
  opacity: 30%;
  animation: noise 0.4s linear infinite both;
  z-index: -1;
}

@keyframes noise {
  0% {
    transform: translateX(0.4%) translateY(0.4%);
  }

  100% {
    transform: translateX(-0.4%) translateY(-0.4%);
  }
}

.home {
  display: flex;
  position: absolute;
  top: -15px;
  right: 0px;
  max-width: 25%;
  height: 300px;
  text-align: right;
  margin: 20px;
  font-size: 15px;
}

.content {
  position: absolute;
  bottom: 70px;
  left: -30px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  font-size: small;
  margin: auto;
  padding: auto;
  font-size: 9px;
}

.logo {
  position: absolute;
  left: 32px;
  bottom: 35px;
  font-size: 10px;
}

.rotate {
  transform: rotate(90deg);
  width: 6px;
  padding-bottom: 5px;
}

.projects {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -15px;
  right: 0px;
  width: 50%;
  height: 50%;
  text-align: end;
  margin: 20px;
  font-size: 15px;
}

.emailform {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #737473;
  padding: 10px;
  max-width: 225px;
  border-radius: 3px;
}

.emailform input:focus,
.emailform textarea:focus {
  outline: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: color 0.5s ease;
}
a:hover {
  color: #9aa99a98;
}

li {
  list-style: none;
}

button {
  position: absolute;
  right: -6px;
  background-color: black;
  border: dashed 1px #ffffff;
  height: 13px;
}

img {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin: 10px;
}

img:hover {
  transform: scale(1.1);
}

input {
  width: 100%;
  margin: 5px;
}

form {
  margin: 20px;
  padding: 10px;
}

textarea {
  max-width: 225px;
  min-width: 225px;
  max-height: 225px;
  min-height: 225px;
  margin-top: 5px;
}

input,
textarea {
  border-radius: 3px;
  border: none;
}

@media (min-width: 1080px) {
  .container {
    margin: 2%;
    height: 92vh;
  }

  .content {
    bottom: 105px;
    left: -20px;
  }

  .logo {
    left: 55px;
    bottom: 45px;
    font-size: 20px;
  }

  .home {
    top: -20px;
    right: 0px;
    max-width: 8%;
    font-size: 15px;
    max-width: 10vw;
  }

  .links {
    bottom: 50px;
    right: 50px;
  }

  .switch {
    position: absolute;
    top: 15px;
    right: 20px;
  }

  .emailform {
    bottom: 0px;
    right: 0px;
    left: auto;
    top: auto;
    min-width: 300px;
  }

  textarea {
    max-width: 300px;
    min-width: 300px;
    max-height: 300px;
    min-height: 300px;
    margin-top: 5px;
  }

  img {
    height: 50px;
    width: 50px;
  }
}
