body {
  padding: 0;
  margin: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}

.container {
  display: flex;
  border: solid 0.3px rgb(216, 207, 207);
  margin: 20px;
  overflow: auto;
  height: 95vh;
}

.home {
  display: flex;
  position: absolute;
  top: 0px;
  right: 15px;
  max-width: 25%;
  height: 300px;
  justify-content: right;
  align-items: baseline;
  text-align: end;
  margin: 20px;
}

.content {
  position: absolute;
  bottom: 100px;
  left: -10px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  font-size: small;
  margin: auto;
  padding: auto;
  font-size: 9px;
}

.logo {
  position: absolute;
  left: 30px;
  bottom: 35px;
  font-size: 10px;
}

.dark-mode {
  position: absolute;
  top: 3px;
  right: 4px;
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(black, white); */
}

.links {
  position: absolute;
  bottom: 40px;
  left: 30px;
  display: flex;
  padding: 10px;
  z-index: 1;
}

.rotate {
  rotate: 90deg;
  width: 10px;
  padding-bottom: 5px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: color 0.5s ease;
}
a:hover {
  color: #9aa99a98;
}

li {
  list-style: none;
}

button {
  background-color: white;
  height: 10px;
  width: 10px;
  border: none;
}

img {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

img:hover {
  transform: scale(1.1);
}

@media (min-width: 1080px) {
  .container {
    margin: 2%;
    height: 92vh;
  }

  .content {
    top: 50px;
    left: 10px;
  }

  .dark-mode {
    top: 20px;
    right: 8px;
    width: 1vw;
  }

  .home {
    top: 15px;
    right: 30px;
    max-width: 10%;
    font-size: 15px;
  }

  .links {
    bottom: 50px;
    left: 50px;
  }
}
